         body
          {
                text-align: center;
          }
         header
          {
                font-size: large;
          }
         main
          {
                font-size: large;
          }
         footer
          {
                font-size: large;
          }
          